
.attendance-detail {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
}

.attendance-detail__title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.attendance-detail__title::before {
    content: "";
    width: 4px;
    height: 32px;
    background: #000;
    margin-right: 14px;
}

.attendance-detail__success{
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
}

.attendance-detail__card {
    background: #fff;
    border-radius: 8px;
    padding: 60px 160px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.attendance-detail__group {
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #e5e5e5;
}

.attendance-detail__group:last-child {
    border-bottom: none;
}

.attendance-detail__input-row{
    display:flex;
    align-items:center;
}

.attendance-detail__group:nth-of-type(2) .attendance-detail__input-row{
    width:260px;
    justify-content:space-between;
}

.attendance-detail__label {
    width: 180px;
    font-weight: bold;
    color:#6b7280;
}

.attendance-detail__group:nth-of-type(2) .attendance-detail__content {
    gap: 80px;
}

.attendance-detail__content {
    display: flex;
    align-items: center;
    gap: 40px;
}
.attendance-detail__text--bold {
    font-weight: bold;
    margin-right: 20px;
}

.attendance-detail__input {
    width: 110px;
    height: 36px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.attendance-detail__input::-webkit-calendar-picker-indicator {
    display: none;
}

.attendance-detail__separator {
    margin: 0 20px;
}

.attendance-detail__textarea {
    width: 320px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.attendance-detail__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.attendance-detail__submit-btn {
    background: #000;
    color: #fff;
    padding: 12px 60px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.attendance-detail__error-text {
    color: red;
    font-size: 13px;
    margin-top: 8px;
}

@media (min-width:1400px) and (max-width:1540px){

    .attendance-detail{
        max-width:1000px;
    }

    .attendance-detail__card{
        padding:50px 140px;
    }

}


@media (min-width:768px) and (max-width:850px){

    .attendance-detail__card{
        padding:40px 60px;
    }

    .attendance-detail__label{
        width:150px;
    }

}
